<!DOCTYPE html>
<head> 
    <style>
        h1 {
          text-align: center;
        }
        table, th, td {
            text-align : center;
       border: 1px solid black;
       border-collapse: collapse;
   }
   .center {
  margin-left: auto;
  margin-right: auto;
}
        
        </style>
</head>
<body>
    
            {% for area, users in experts.items %}
            <h1>{{area}}</h1>
            <table class="table table-hover table-striped table-sm center" id="Board">
                <thead>
                <tr>
                    <th>#</th>
                    <th>User</th>
                <th>Fame Level</th>
                </tr>
                </thead>
                <tbody>
                    {% for user in users %}
            <tr>
                <td style="width: 30px"><span class="badge badge-light" style="color: black">{{forloop.counter}}</span>
                </td>
                <td>
                    {{user.user}}
                </td>
                <td style="width: 300px">{{user.fame_level_numeric}} </td>
            </tr>
            {% endfor %}
    </tbody>
    </table>
    {% endfor %}

    
    

</body>